{% extends 'character/base.html' %}

{% block content %}

  <h1>{{ name }}</h1>
  <table>
    <tr>
      <td colspan="2"><h2>Character Stats</h2></td>
    </tr>
    {% for chardata in charlist %}
    <tr>
      <td><b>{{ chardata.data_type_name }}</b></td> <td>{{ chardata.data_value }}</td>
    </tr>
    {% endfor %}
  </table>

  <table>
    {% for data in list %}
    {% ifchanged data.data_type_category %}
      <tr>
        <td colspan="2"><h2>{{ data.data_type_category }}</h2></td>
      </tr>
    {% endifchanged %}
      <td><b>{{ data.data_type_name }}</b></td><td>{{ data.data_value }}</td>
      {% if forloop.last %}
        </tr>
      {% else %}
        {% if forloop.counter|divisibleby:"2" %}
          </tr><tr>
        {% endif %}
      {% endif %}
    {% endfor %}
  </table>
{% endblock %}
