{% extends 'character/base.html' %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-3 col-lg-3">
      <table>
        <tr>
          <td colspan=2 align=center>
              <b>Character Details</b>
          </td>
        </tr>
        <tr>
          <td colspan=2>
              {% if character.image %}
              <img src="{{ character.image.url }}" width='240' class="img-thumbnail">
              {% else %}
              <h2>UPLOAD IMAGE</h2>
              {% endif %}
          </td>
        </tr>
        <tr>
          <td style="padding:0 15px 0 15px;"><b>Name</b></td> <td style="padding:0 15px 0 15px;">{{ cname }}</td>
        </tr>
        <tr>
          <td style="padding:0 15px 0 15px;"><b>{{ cracetag }}</b></td> <td style="padding:0 15px 0 15px;">{{ crace }}</td>
        </tr>
        <tr>
          <td style="padding:0 15px 0 15px;"><b>{{ cclasstag }}</b></td> <td style="padding:0 15px 0 15px;">{{ cclass }}</td>
        </tr>
        <tr>
          <td style="padding:0 15px 0 15px;"><b>{{ cleveltag }}</b></td> <td style="padding:0 15px 0 15px;">{{ clevel }}</td>
        </tr>
        <tr>
          <td style="padding:0 15px 0 15px;"><b>{{ calliancetag }}</b></td> <td style="padding:0 15px 0 15px;">{{ calliance }}</td>
        </tr>
        <tr>
          <td style="padding:0 15px 0 15px;"><b>{{ cgendertag }}</b></td> <td style="padding:0 15px 0 15px;">{{ cgender }}</td>
        </tr>
        <tr>
          <td style="padding:0 15px 0 15px;"><b>{{ cmagickatag }}</b></td> <td style="padding:0 15px 0 15px;">{{ cmagicka }}</td>
        </tr>
        <tr>
          <td style="padding:0 15px 0 15px;"><b>{{ cstaminatag }}</b></td> <td style="padding:0 15px 0 15px;">{{ cstamina }}</td>
        </tr>
        <tr>
          <td style="padding:0 15px 0 15px;"><b>{{ chealthtag }}</b></td> <td style="padding:0 15px 0 15px;">{{ chealth }}</td>
        </tr>
      </table>
    </div>
    <div class="col-sm-9 col-md-9 col-lg-9">
      {% regroup list by data_type_category as chardata_list %}

      <table>
        {% for data_type_category in chardata_list %}
          <tr>
            <td colspan="8" style="padding:0 15px 0 15px;"><hr><hr></td>
          </tr>
          <tr>
            <td colspan="2" style="padding:0 15px 0 15px;"><h4>{{ data_type_category.grouper }}</h4></td>
          </tr>
          {% for value in data_type_category.list %}
            <td style="padding:0 15px 0 15px;"><b>{{ value.data_type_name }}</b></td>{% if value.data_value < 50 %}<td style="padding:0 15px 0 15px; color: red;">{{ value.data_value }} {% else %} <td style="padding:0 15px 0 15px;">{{ value.data_value }} {% endif %}</td>
            {% if forloop..last %}
              </tr>
            {% else %}
              {% if forloop.counter|divisibleby:"4" %}
                </tr></tr>
              {% endif %}
            {% endif %}
          {% endfor %}
        {% endfor %}
      </table>
    </div>
  </div>
</div>



{% endblock %}
