{% extends 'character/base.html' %}
{% load deslug %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <table>
      <th colspan="2"><h1>NEWS</h1></th>
      {% for entry in feed.entries|slice:":4" %}
        <tr>
          <td colspan="2"><hr></td>
        </tr>
        <tr>
          <td><a href="{{entry.link}}" target="_blank">{{entry.title}}</a></td> <td>{{entry.published}}</td>
        </tr>
        <tr>
          <td colspan="2"> <b>{{entry.description}}</b></td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
<div class="container">
  <table class="table table-hover">
    <th colspan="7"> <h1>{% if owner %}{{ owner }}'s Characters {% else %}All Characters {% endif %}</h1> </th>
    {% for character in object_list %}
    <tr>
      <td style="width:175px padding:0 15px 0 15px"> <a href="{% url 'character_detail' pk=character.pk %}">{{ character.slug|deslug|title }}</a></td>
      <td style="padding:0 15px 0 15px">{{ character.gender }}</td>
      <td style="padding:0 15px 0 15px">{{ character.level }}</td>
      <td style="padding:0 15px 0 15px">{{ character.character_class }}</td>
      <td style="padding:0 15px 0 15px">{{ character.race }}</td>
      <td style="padding:0 15px 0 15px">{{ character.alliance }}</td>

      {% if character.magicka > character.health and character.magicka > character.stamina %}
        <td style="padding:0 15px 0 15px">Magicka</td>
      {% elif character.stamina > character.health and character.stamina > character.magicka %}
          <td style="padding:0 15px 0 15px">Stamina</td>
      {% else %}
          <td style="padding:0 15px 0 15px">Health</td>
      {% endif %}

    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
