{% extends 'character/base.html' %}
{% load deslug %}

{% block content %}

<table>
  <th>Title</th> <th>Date</th>
  {% for entry in feed.entries|slice:":5" %}
    <tr>
      <td><a href="{{entry.link}}">{{entry.title}}</a></td> <td>{{entry.published}}</td>
    </tr>
    <tr>
      <td colspan="2">{{entry.description}}</td>      
    </tr>
  {% endfor %}
</table>
  {% for character in object_list %}
  <p> <a href="{% url 'character_detail' pk=character.pk %}">{{ character.slug|deslug|title }}</a></p>
  {% endfor %}
{% endblock %}
