{% extends 'character/base.html' %}

{% block content %}

<h1>{{ name }}</h1>

  {% for data in character.characterdata_set.all %}
    {% if data.data_type_name == 'Slug' %}
      <h1>{{ data.data_value}}</h1>
      {% endif %}
  {% endfor %}

  <table>
    {% for data in character.characterdata_set.all %}
      {% ifchanged data.data_type_category %}
        <tr>
          <td colspan="2"><h2>{{ data.data_type_category }}</h2></td>
        </tr>
      {% endifchanged %}
      <tr>
        <td><b>{{ data.data_type_name }}</b></td> <td>{{ data.data_value }}</td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
