{% extends 'character/base.html' %}

{% block content %}

<table class="table table-hover">
  <th colspan="2"><h4>GOOD BOOKMARKS</h4></th>
  <th>
    <a href="{% url 'url_new' %}" class="btn btn-info" role="button">Add Location</a>
  </th>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Published Date</th>
  </tr>
  {% for url in object_list %}
    <tr>
      <td><a href="{% url 'url_detail' pk=url.pk %}">{{url.title}}</a></td>
      <td> <b>{{url.description}}</b> </td>
      <td> <b>{{url.published_date}}</b> </td>
    </tr>
  {% endfor %}
</table>

{% endblock %}
